<div class="container">

    <p class="robot-big">
        <img src="images/bot.png" alt="Buddy Bot" height="65" width="135"/>
        Welcome, {{username}}!
    </p>
   
    <form action="/analyze" method="post">

        <p class="robot-small">Pick some activities:</p>

        <select name="activities" multiple="true">
            <option>Bike trips</option>
            <option>Outdoor hiking</option>
            <option>Watching anime movies</option>
            <option>Go-kart racing</option>
            <option>Eating dim sum</option>
        </select>

        <p>&nbsp;</p>
        <div class="form-group">
            <p class = "robot-small">Your personal bio:</p>
            <textarea placeholder="at least 200 words" class="form-control input-lg col-md-4 " name="text" id="inputText" rows="12" cols="90"></textarea>
            <br/>

            <input type="hidden" name="email" value="{{email}}"/>
            <input type="hidden" name="username" value="{{username}}"/>

            <input type="hidden" name="source_type" value="text"/>
            <input type="hidden" name="accept_language" value="en"/>
            <input type="hidden" name="include_raw" value="false"/>

            <input type="submit" class="btn btn-buddy" value="OK"/>
        </div>
    </form>

</div>
