<div class="container">

    <h2>Hello, {{username}}</h2>

    <h2>Please tell us about yourself:</h2>

    <form action="/analyze" method="post">

        <p>Select some favorite activities:</p>

        <select name="activities" multiple="true">
            <option>Bike trips</option>
            <option>Outdoor hiking</option>
            <option>Watching anime movies</option>
            <option>Go-kart racing</option>
            <option>Eating dim sum</option>
        </select>

        <p>&nbsp;</p>
        <div class="form-group">
            <p>Enter some text about your everyday activities and ideas:</p>
            <textarea name="text" id="inputText" rows="12" cols="90"></textarea>
            <br/>

            <input type="hidden" name="email" value="{{email}}"/>
            <input type="hidden" name="username" value="{{username}}"/>

            <input type="hidden" name="source_type" value="text"/>
            <input type="hidden" name="accept_language" value="en"/>
            <input type="hidden" name="include_raw" value="false"/>

            <input type="submit" class="btn btn-buddy" value="OK"/>
        </div>
    </form>

</div>
